{% extends 'base.html' %}

{% block title %}
  {% if object %}
    Edit course '{{ object.title }}'
  {% else %}
    Create a new course
  {% endif %}
{% endblock title %}

{% block content %}
  <h1>
    {% if object %}
      Edit course '{{ object.title }}'
    {% else %}
      Create a new course
    {% endif %}
  </h1>

  <div class="module">
    <h2>Course Info</h2>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" name="" value="Save"></p>
    </form>
  </div>
{% endblock content %}
